[2017-04-24 22:29] Serabe opened #2 "Quest 3 is not really solvable in one day"
Quest 3 is not solvable in one hour unless we only want people to have a really basic understanding of who they are and what we do. Furthermore, this discourages discovering new things through links or investigating other project similar to what we do.

[2017-04-25 11:01] jorgeschnura commented on #2
This is a good point. I'll encourage some additional investigation

[2017-04-25 13:55] jorgeschnura commented on #2
Any interesting content in relation to them that comes to your mind?

[2017-04-25 16:19] Serabe commented on #2
Difference engine, Bletchley Park, Bell Labs, Apollo XI, UTF-8...

[2017-04-27 15:51] jorgeschnura commented on #2
Done

[2017-04-27 15:51] #2 closed

[2017-04-28 07:50] toqueteos opened #12 "Proposal: repository rename"
I propose you rename this repository to **src-d/about** which reflects much more cleanly the intention of the documents placed here.

![define tutorial](http://i.imgur.com/J5600m7.png)

[2017-04-28 15:23] vmarkovtsev opened #13 "Clarify the vacations during weekends and holidays"
It is possible to take a vacation which intersects with holidays or weekends. In Russia, they count it as a part of your vacation and not adjust the vacation factual length (but you've got 28 days). I am not sure how it is in Spain: are they included or discarded?

[2017-04-28 21:08] jorgeschnura commented on #13
Here they don't count as part of them, so it's a better policy. I'll clarify it!

[2017-04-28 21:58] jorgeschnura commented on #12
We'll go for guide then, since I'd like to avoid generic terms like "about". Thanks for the suggestion!

[2017-04-28 21:58] #12 closed

[2017-04-28 22:07] jorgeschnura commented on #13
Is it clear as it is now? I updated it

[2017-05-03 15:40] jorgeschnura opened #15 "Image in Git Flow doesn't work"
@mcuadros https://github.com/src-d/guide/blob/master/engineering/git-flow.md

[2017-05-03 15:40] jorgeschnura commented on #13
ping @vmarkovtsev

[2017-05-03 16:08] vmarkovtsev commented on #13
Yep, thank you!

[2017-05-03 16:08] #13 closed

[2017-05-04 00:18] mcuadros commented on #15
fixed

[2017-05-04 00:18] #15 closed

[2017-05-05 19:56] smacker opened #17 "Clarification of a business goals"
First of all, thank you for this repo. It's really helpful.
The only matter that is still unclear for me is about the product.
According to Roadmap and manifesto it looks like there is more than one.
The first one is a platform to connect developers, projects and companies through code. Is it another approach to "fix developer recruitment"?
The second one is real-time assisted programming. Do you

[2017-05-09 10:32] marnovo opened #20 "By devs training – Clarify quests order"
If the quests have a logical order to them, better to make this explicit.

[2017-05-09 10:44] eiso commented on #17
@smacker I am right now working on a new post that updates on our roadmap and tackles a lot of your questions. The content will also become part of this guide. It will go live on Thursday so please bare with me a few days.

[2017-05-09 10:48] jorgeschnura commented on #17
Thanks a lot for your comment @smacker . We're also about to release our new website which will shed more light on your questions.

We have also made our whole backlog public, which we're now cleaning up. You can find it here: https://github.com/src-d/backlog

The reason we have opened this repo up before it being complete is because we want to be completely transparent from moment one and receive

[2017-05-09 15:45] gomesfernanda opened #23 "Arch Linux Setup Link is broken"
The link for Arch Linux Setup is broken. It’s currently
https://github.com/src-d/guide/blob/master/talent/by-developers-training/linux.md

I believe the right one is:
https://github.com/src-d/guide/blob/master/talent/by-developers-training/arch-linux-setup.md

[2017-05-09 15:52] marnovo opened #24 "By Devs Training – Add learn enough Git & CLI to be dangerous to resources"
Two really great resources for learning command line and git. Very well explained and ramp up in complexity well.

Might event be "core-quest" material, if not at least a must-be for the "DLC". Let me know your opinions on them.

- CLI: https://www.learnenough.com/command-line-tutorial
- Git: https://www.learnenough.com/git-tutorial

[2017-05-09 16:59] jorgeschnura commented on #23
Fixed

[2017-05-09 16:59] #23 closed

[2017-05-09 17:09] jorgeschnura commented on #24
Since it's full books I'll add them to the DLC. For the record, we might make parts of the DLC a part of the main quest if we see that we want to make the whole "storyline" more extensive

[2017-05-09 17:09] #24 closed

[2017-05-09 17:12] jorgeschnura commented on #20
Clarified

[2017-05-09 17:12] #20 closed

[2017-05-10 10:06] bzz opened #25 "[D] Is getting different, cost-equivalent, equipment like a monitor, an option?"
Great to to see [available_hardware.md](https://github.com/src-d/guide/blob/master/general/available_hardware.md) published - awesome list of laptops!

I have a question - does anybody think that getting a different, cost-equivalent, equipment like a monitor, rather than the [listed ones](https://github.com/src-d/guide/blob/master/general/available_hardware.md#monitor) could possibly be an option?

[2017-05-10 10:21] eiso commented on #25
My personal opinion is that for laptops I understand the standardisation, since they are quite expensive and if somebody leaves they can be upgraded and handed over easily. Also makes it practically a lot easier with people setting up their system on day 1 (I know that the XPS and Lenovo options are there because they have good Linux compatibility).

For peripherals like monitors, I wouldn't see a

[2017-05-10 11:50] eiso commented on #25
I hadn't thought before about the warranties & invoice implication. Unfortunately that rules out 2nd hand hardware unless we buy it from a company and they can issue an invoice for it and provide the warranty documentation.

@jorgeschnura can we add links to the checkout of the laptops or maybe their value so that people know what equivalent amount means.

@bzz if you find any other options for 4k

[2017-05-10 12:03] jorgeschnura commented on #25
I disagree with this. We offer several very nice options already that I think represent a good variety of "tastes".
The problem with making it free to choose is that then the company ends up having a huge stock of random hardware that can't be re-used in most cases. This is what has happened before, where we would allow everyone to choose their own hardware and we ended up with a big pile of rando

[2017-05-10 16:29] eiso commented on #25
@mcuadros @jorgeschnura and I spoke about this offline (no new opinions were raised then already mentioned above) and came to a decision.

Let's make the [available_hardware.md](https://github.com/src-d/guide/blob/master/general/available_hardware.md) list open to suggestions via pull requests. If you think anything is missing that can make your life better, suggest it, you need the LGTM from @mcu

[2017-05-10 16:29] #25 closed

[2017-05-12 11:32] eiso commented on #17
@smacker we're still working on the post as an internal draft before it's going live. I will send you a google doc link where you can read it (and comment on it) already.

[2017-05-16 11:42] marnovo opened #27 "By Devs Training - Quest 1 clarification"
On [Quest 1: Setup your machine on Arch Linux](https://github.com/src-d/guide/blob/master/talent/by-developers-training/README.md#quest-1-setup-your-machine-on-arch-linux) of the By Developers Training we have:
`Duration: 2 days` and `Deliverable: Fully set-up laptop`

That seems good particularly during the onboarding experience. Some however mentioned that the idea is that the person in training

[2017-05-17 11:16] jorgeschnura commented on #27
I changed to wording to say "your work laptop" to clarify on Q1 and Q2. For Q3 we only foresee this happening with the designer, for whom we will find a solution once we hire one. What I had thought of is having that person have both Mac/Windows + Arch Linux installed so that they still go through the installation process.
We will add instructions on how to keep Mac/setup Windows on them in the se

[2017-06-01 09:39] alcortesm opened #39 "Semantic Linefeeds proposal"
I propose that we start using Semantic Linefeeds in this repository. See [1] to know why.

![xkcd - third way](https://imgs.xkcd.com/comics/third_way.png)

[1] http://rhodesmill.org/brandon/2012/one-sentence-per-line/

[2017-06-01 09:42] alcortesm commented on #39
For instance, these two markdowns are rendered the same, but from the point of view of CVS the second one is much better:

No semantic linefeeds example:
[code]

The same rendered result, but using semantic linefeeds:
[code]

[2017-06-05 17:11] eiso commented on #39
@alcortesm it sounds like a good idea, all though in your example it renders differently. This works on markdown files in GitHub?

If it works, is there anything out there that automatically can format all existing .md's to semantic linefeeds?

[2017-06-06 08:39] alcortesm commented on #39
You are right, Github is not rendering Markdown correctly in PR comments.  On the other hand Gists are rendered correctly: https://gist.github.com/alcortesm/008cad4e9e80cfb7d507fd2bf8058407.

I don't know right now how Github renders markdown files in repositories, though, which is the important thing if we want people to read this guide by browsing Github.  I will find it out in the following day

[2017-06-06 10:17] alcortesm commented on #39
I can confirm that Github renders markdown files written using semantic linefeeds correctly.  See https://github.com/alcortesm/demo-markdown/blob/master/afile.md as proof.

This means it is safe to adopt this proposal.

[2017-06-06 10:20] alcortesm commented on #39
I don't know of any library to do this, but a sed or awk one-liner is probably enough.

[2017-06-06 10:23] alcortesm commented on #39
Here is one: https://github.com/cllns/semantic_linefeeds

[2017-06-06 12:57] eiso commented on #39
Great! I'll keep the issue open until it's properly implemented and documented.

/cc @jorgeschnura we need another LGTM for this. Do you agree on the proposal?

[2017-06-06 13:06] jorgeschnura commented on #39
Yes, makes sense!

[2017-06-07 06:58] vmarkovtsev opened #41 "Explicitly state the PR merge rules"
@mcuadros <s>I definitely saw the rules you wrote to merge PRs somewhere. We need to put them here. E.g.

private projects - 2 people must approve
public projects - 3 people and Maximo
...
</s>

Besides, it would be awesome to list the owners of each project who can merge PRs backing Maximo. E.g. myself in src-d/blog, etc.

Besides, there is an exclusion with ML projects since only me and @EgorBu

[2017-06-07 07:58] alcortesm commented on #41
@vadim I think they are here: https://github.com/src-d/workflow/blob/master/dev-team/git-workflow.md

[2017-06-07 08:12] vmarkovtsev commented on #41
Thanks Alberto! Removed the first part.

[2017-06-07 08:21] vmarkovtsev commented on #41
Wait a minute... Why is it private?

[2017-06-07 09:09] alcortesm commented on #41
I'm sorry @vadim, I don't know.

[2017-06-08 12:52] smola commented on #39
Sounds like a good idea, at least it's much more diff-friendly.
Although it might be a bit surprising for people reading source code.

[2017-06-08 12:53] smola commented on #39
Note that, however, diffs like GitHub's are quite good at highlighting the actual parts of the lines that changed.

[2017-06-12 08:20] vmarkovtsev commented on #39
These semantic linefeeds is a well-known lifehack to write text files. I am to it 100%.

[2017-06-12 08:23] juanjux commented on #39
I'll have to configure my Vim to don't auto-justify Markdown files to some length with linebreaks  and I generally don't like seeing lines too long on the source (be it either source code or markdown text) which could happen with this and long sentences but if it's better for CVSs I'm fine with it.

[2017-06-12 13:25] alcortesm commented on #39
@juanjux
[code]

You are right, lines too long are ugly and should be avoided, in general, not only when using semantic linefeeds.  Let's avoid this problem by writing short sentences.

[2017-06-12 14:01] juanjux commented on #39
Ok. But your sentence 112 chars long is. Ugly on text editor will look.

<img src="http://vignette2.wikia.nocookie.net/starwars/images/d/d6/Yoda_SWSB.png/revision/latest?cb=20150206140125" width=200px>

[2017-06-13 12:40] alcortesm commented on #39
Try visually wrapping your long lines: http://vim.wikia.com/wiki/Word_wrap_without_line_breaks

I don't need it because I keep most of my lines sort, which I think is a better solution.

[2017-06-13 23:40] mcuadros commented on #39
Adding another constraint to the guide, just make more tedious make the PRs. The markdown is made for be rendered so for me meanwhile can be read properly as Markdown, I don't see why we should enforce to the people have custom configuration on his editors.

[2017-06-13 23:43] mcuadros commented on #41
@vmarkovtsev bring this topic to the next retrospective meeting.

[2017-06-13 23:43] #41 closed

[2017-06-14 05:40] vmarkovtsev commented on #39
@mcuadros I don't see how it makes PRs more tedious. The idea is very useful and you just need to learn a little and adapt to it. It is very easy to adapt - just put every sentence on new line. Personally, I am not changing my editor configs, just writing everything properly from scratch.

[code]

[2017-06-14 06:15] mcuadros commented on #39
@vmarkovtsev when you have longs likes, you need to wrap it (in my case I have word wrap after 100, so I don't need to change).
I don't find natural write every phrase in a new line.
This is not how you write normally.

[2017-06-14 06:19] vmarkovtsev commented on #39
Sorry, I couldn't stop myself :laughing:

![](https://www.mememaker.net/static/images/memes/4824973.jpg)

[2017-06-14 06:27] vmarkovtsev commented on #39
Additional discussions on the topic:

https://news.ycombinator.com/item?id=4642395

https://groups.google.com/forum/#!topic/pandoc-discuss/tEWDWL2mLBY

Let's weight all the procs and cons.

[2017-06-14 06:38] juanjux commented on #39
You could argue that there are already perfectly valid semantic end of line indicators like the dot stop. Line feeds like its name imply are not semantic but visual adjustments.

[2017-06-14 06:40] mcuadros commented on #39
Pro:
- The diff is more clear.

Cons:
- Makes more hard format your final document. Since the sourced and the output paragraph organization is complete different.

- Your are relaying in something that is not in the spec and even unified in GitHub, so maybe tomorrow change as you have a bunch of documents broken, like happened a few months ago with `#Foo` over `# Foo`.

- Adds another thing to wor

[2017-06-14 06:58] vmarkovtsev commented on #39
Regarding more clear diffs, having short lines may actually improve readability for small edits (add an article, fix punctuation, change a single word). This depends on how smart is your diff viewer though, I think GitHub highlights such cases properly.

I am starting to change my mind :) Any other pros?

[2017-06-14 07:04] juanjux commented on #39
The last point of @mcuadros is important because as we grow we will need to avoid as much friction as possible in the PR process to avoid expending too much time reviewing them.

[2017-06-14 09:53] jorgeschnura commented on #39
I see now more sense in @mcuadros arguments actually, not sure it is worth it

[2017-06-14 10:44] alcortesm commented on #39
Personally, I think the cons pointed by @mcuadros are not valid:

It doesn't make formatting harder, as you don't format text when writing Markdown, that is the whole point of non-WYSIWYS typesetting systems.  Having different source than output is whole point here.

Documentation should not necessarily be easy to write, but it must be easy to read.  Just like code.  Having said that, I don't thin

[2017-06-14 11:29] mcuadros commented on #39
GitHub, has his own flavored implementation, were they have his own specs, that as you proveed in the third message are not very well unified.

I don't see any mayor improvements using this method, maybe  back in 1974 was useful, but today with GitHub, I can see perfectly the changes on a paragraph.

![screenshot_2017-06-14_13-24-10](https://user-images.githubusercontent.com/1573114/27130063-e5375

[2017-06-14 11:29] #39 closed

[2017-06-14 11:49] smola commented on #39
I think the most important thing here is agreeing on a way of doing it for everyone, whether it's semantic line-feeds, fixed-with or even single line per paragraph. We could then discuss if we want to make it easier to follow (e.g. adding modelines and/or `.editorrc` to the repo) and if we want to enforce it (e.g. adding checks on Travis).

I really don't have a strong opinion on what to choose th

[2017-06-28 14:43] alcortesm opened #50 "Scaling issues with the code review policy for public repos"
The current code review policy is that PR made to public repos must be reviewed by Máximo and another person: https://github.com/src-d/guide/blame/master/engineering/git-flow.md#L23

But I think that is not going to scale well now that we are publishing so many repos.

I don't know what was the original intention behind this rule, so I cannot propose alternatives that preserve it.

[2017-06-29 10:30] mcuadros commented on #50
This is the first point of the today's meeting:
https://gist.github.com/mcuadros/354a45940f9be6e84490a4c28458ad02

[2017-06-29 10:30] #50 closed

[2017-06-30 09:21] alcortesm opened #51 "The information about Open Source Fridays is outdated"
Now we do Open Source Days.

The main section to change here is the "How To" section.

[2017-07-05 08:40] eiso commented on #51
Agreed! Feel free to create a PR

[2017-07-05 08:40] #17 closed

[2017-07-05 15:50] Serabe commented on #27
We hired a designer! Let's see what to do with this then :)

[2017-07-05 16:10] ricardobaeta commented on #27
Tools don't make the craft, people do. Looking forward to those instructions!

[2017-07-12 16:09] marnovo opened #57 "Vacation carryover policy limited to 23 days on KinHR"
Was checking with KinHR support and it seems we currently have a maximum 23 days carryover policy set there, which conflicts with:

_From : https://github.com/src-d/guide/blob/master/talent/flexible_holidays_working_schedule_remote_work.md_

Their customer support answer on how to fix it:

[2017-07-25 13:36] jorgeschnura commented on #57
@estherrgarcia please fix it

[2017-08-02 13:16] EgorBu opened #59 "[git-flow.md] Code review and requested changes"
Proposal for improvement:
I think it will be really useful if we will have some integration with slack to make a notification about pending reviews.
Right now it's pretty easy to miss mail from GitHub.

[2017-08-07 09:00] Serabe commented on #59
![2017-08-07 at 10 59](https://user-images.githubusercontent.com/36221/29019638-728e820e-7b5f-11e7-8081-24c468d222de.png)

That blue dot means you have pending notifications. I review from there. Much simpler than email if you receive a lot of them.

Also, if you haven't done so yet, you can add several emails to your profile and select to which account GitHub will send the notifications for a par

[2017-08-23 08:37] marnovo opened #60 "Analyze, adapt and implement management tools we're missing"
Would love to see some of these adapted to source{d} and implemented (I can help):

[2017-08-23 09:18] estherrgarcia commented on #57
Done

[2017-08-23 09:21] marnovo commented on #57
Perfect, thank you! Closing this.

[2017-08-23 09:21] #57 closed

[2017-11-01 13:57] #51 closed

[2017-11-01 13:58] #27 closed

[2017-11-08 08:00] dpordomingo opened #69 "Which license should we choose for editorial content like Landing or Blog?"
The [gide:licensing](https://github.com/src-d/guide/blob/master/engineering/licensing.md) only defines:
- [GPL v3.0](https://www.gnu.org/licenses/gpl.html), applied to all projects whose nature is specific to core parts of our stack
- [Apache License 2.0](https://www.apache.org/licenses/LICENSE-2.0), to projects which are libraries or tools that intended to be consumed by third-parties as a source

[2017-11-08 08:16] dpordomingo commented on #69
/cc @vmarkovtsev @marnovo

[2017-11-08 08:28] vmarkovtsev commented on #69
Thanks @dpordomingo
BTW I suggest CC-BY-NC 3.0

[2017-11-08 11:26] dpordomingo commented on #69
Why `no-comercial`? (With that license the contents could not be used in many sites, for example, our contents could **not** be used in Wikipedia)

[2017-11-08 11:29] vmarkovtsev commented on #69
Wikipedia is a strong argument... I just wanted to restrict bad people from making money.

[2017-11-09 19:05] dpordomingo commented on #69
Since we allow people making money with our code if they attribute to us the authorship of our libraries, I see that it could be the same with our editorial contents.

[2017-11-22 20:16] smacker opened #72 "Describe teams and process"
For an outside person it's not very clear what Data Intelligence, Machine Learning and Applications teams are doing and how they communicate with each other. (for other teams it's more or less clear because of the name, but not how they are connected)
In my opinion it's worth to explain the process of development here. Some graph like this:

[code]

And some description like:

Data Retrieval - ret

[2017-11-28 16:32] jorgeschnura commented on #59
@mcuadros any way to add that bot to Slack?

[2017-11-28 16:35] jorgeschnura commented on #69
Why not use Apache 2.0? The fact that a case like this was not described in our original intention to for that license doesn't mean we can't adopt it
cc @eiso

[2017-11-28 16:38] mcuadros commented on #59
This is a nightmare and also is doesn't add value to the remote comunity, since this notification is private for the user.

[2017-11-28 16:48] jorgeschnura commented on #59
Can we close the issue then?

[2017-11-28 17:30] campoy commented on #59
+1 on closing the issue, GitHub notifications is enough IMHO

[2017-11-29 11:42] #59 closed

[2017-12-01 11:12] marnovo commented on #69
Agreed, if we're to go with a Creative Commons license, v4.0 seems much improved over v3.0. Any thoughts on ShareAlike (CC-BY-SA)? Also [CC v4.0 seems compatible with GPLv3].(https://www.fsf.org/blogs/licensing/cc-by-4-0-and-cc-by-sa-4-0-added-to-our-list-of-free-licenses)

Anyone can comment on this? AFAIK Apache and the alike are not usual for "content", but I'm far from a licensing expert…

[2017-12-01 12:24] vmarkovtsev commented on #69
I found this:
https://wiki.creativecommons.org/wiki/ShareAlike_compatibility_analysis:_GPL
https://www.quora.com/Does-it-make-sense-to-license-text-documentation-under-the-Apache-Software-License-instead-of-Creative-Commons
TL;DR: the subject of a software license is the source which is different from the CC's. Besides, Cc is closer to the domain details.

[2017-12-05 13:02] marnovo opened #78 "National holiday policy for remote workers"
Given that KINHR tracks holidays that are in the Madrid office, what is the policy for people working remotely and subject to different national holidays (and the alike)?

P.s.: for example, the workaround so far with Ricardo, is: he schedules on KINHR asking for holidays on the days of Portuguese national holidays, and whenever he works regularly in a day that's a national holiday in Madrid he ge

[2017-12-11 09:19] eiso commented on #78
I think this is a good solution. Could you add it in a PR to the guide's holiday policy.

[2017-12-20 10:37] eiso commented on #72
This is a really good idea, sorry I haven't commented before. Let's do this. @mcuadros or @campoy either of would you like to take ownership here to adding this.

[2017-12-20 10:37] eiso commented on #78
PR has been merged for this as far as I know.

[2017-12-20 10:37] #78 closed

[2017-12-20 10:38] eiso commented on #69
Was this decided and if so, is it reflected in the guide?

[2017-12-20 10:41] eiso commented on #60
I am closing this for now, because it's very broad. However I think there are some nice goodies in here. @marnovo since you just spent the management days and OKR day with us. Can you please make a proposal (in separate issues) of some you think will benefit the team? (The one we don't have and I really like is the manager survey)

[2017-12-20 10:41] #60 closed

[2017-12-20 11:02] bzz opened #81 "CWM/Demo meetings audio/video recording"
I'm not sure about that, but AFAIK there is a chance that CWMs and Demos are being recorded, so if possible, I'd like to quickly clarify few questions:

 - if that is true, should we announce that somehow to everyone?
 - shall we declare some simple internal policy on how these materials are going to be used? To avoid any possible privacy concerns
 - and more practical, how would one watch it?

So

[2017-12-20 11:04] bzz opened #82 "A place for meta-discussions"
It would be really great to have a recognized communication medium at source{d}, where everyone could engage in meaningful discuss on meta-topics. With some arguments, threads, links to each message and some time to think and an opportunity for everyone, even the least loudest persons, to express their opinions on important subjects.

Fiding such communication medium is VERY hard thing, both techn

[2017-12-20 11:08] eiso commented on #82
I fully support this, by keeping the issues in this repo, we could make following up (often by management) accountable at company wide meetings every two weeks.

[2017-12-20 11:15] abeaumont commented on #82
I'm quite in favor of MLs tbh.

[2017-12-20 13:13] juanjux commented on #82
Alternatively we could use some forum software with support for threading.

[2017-12-20 14:10] vmarkovtsev commented on #82
I encourage the emails ban. It is complete hell in big companies and every time I received a `Re: RE: RE: Re: 댓글: Re: Fwd: Re: Question` I wanted to break my keyboard.

[2017-12-20 15:25] mcuadros commented on #82
I was speaking with Alex (sorry was in the kitchen), I maybe the best way is using PR, is the best tool since you have have threads, linkable comments, etc. And we are very use to it.

The place to do it, could be the "interview" repository renamed to "company". So there we kind discuss any proporsal.

[2017-12-20 15:48] juanjux commented on #82
That could do, yes.

[2017-12-20 15:52] ajnavarro commented on #82
Having PRs or issues we can have the two worlds (MLs one and only repository one). You will able to answer directly using the email if you are subscribed to that PR or issue, obviously receive emails too, all grouped by issue or PR. So I'm in on the PR implementation of this idea.

[2017-12-20 15:53] jfontan commented on #82
The good thing about using PRs is that we are not adding a new source of information or learning a new tool. It's the same thing we use for other tasks.

There's also the team discussions feature added by github. I haven't checked it nor I am a fan of forums.

https://help.github.com/articles/about-team-discussions/

[2017-12-20 17:11] marnovo commented on #82
My views on specific topics that were mentioned here:

## Need of a slower-paced meta-discussion channel

- I am supportive of the idea as I believe we often need to bring some things to the table but often feel there's not really a place for that—particularly in more thoughtful discussions, when the "fast line" channel of Slack just pushes and drowns things even with threading, so you tend to rel

[2017-12-20 17:36] campoy opened #83 "write hiring section"
It should describe our process, how to apply, and how to refer candidates.

[2017-12-20 17:37] mcuadros commented on #82
Please take a look to https://github.com/src-d/company
And contribute with all the documents are in Google Driver, to have all in the same please, as well do any PR and issue to suggest changes or improvements.

[2017-12-20 17:37] #82 closed

[2018-01-02 11:07] bzz commented on #83
And this can be a good place to link it from https://github.com/src-d/guide/blame/master/README.md#L26

[2018-01-04 13:19] #81 closed

[2018-01-05 22:08] campoy commented on #72
I don't think I have the knowledge on process yet in order to write this document.
But it would be a very useful resource specially as we write the "Engineering Culture at source{d}" document.

[2018-01-09 12:03] jorgeschnura commented on #69
@dpordomingo @vmarkovtsev @marnovo ping

[2018-01-09 15:44] dpordomingo commented on #69
Sorry, I feel I have no enough expertise to decide it, but I'd consider:
- a license close to the domain: editorial content -> CC as @vmarkovtsev wrote https://github.com/src-d/guide/issues/69#issuecomment-348481909
- a license compatible with Wikipedia -> allowing commercial use
- a license compatible with GPLv3 as said by @marnovo https://github.com/src-d/guide/issues/69#issuecomment-348468855

[2018-01-09 18:54] marnovo opened #88 "Add list of books available at source{d} to the guide"
As mentioned by @eiso at [src-d/office](https://github.com/src-d/office/issues/10#issuecomment-350579890):

[2018-01-10 00:59] campoy commented on #69
According to [this guy](https://twitter.com/talideon/status/950893555689623552) Wikipedia is dually licensed as CC BY-SA and [GFDL](https://en.wikipedia.org/wiki/GNU_Free_Documentation_License).

I still think CC-BY-SA is probably the best option at this point.

[2018-01-10 10:38] dpordomingo opened #89 "Improve Continuous delivery for web sites guide"
Considering the feedback given at [src-d/blogpull/176#issuecomment-356458445](https://github.com/src-d/blog/pull/176#issuecomment-356458445), it seems to be needed to improve the [continuous delivery for web sites](https://github.com/src-d/guide/blob/master/engineering/continuous-delivery.md#deploying-into-staging) guide.

It would be also great to link that doc in the [guide/README](https://githu

[2018-01-10 10:46] dpordomingo commented on #69
GFDL seems to be [incompatible](https://en.wikipedia.org/wiki/GNU_Free_Documentation_License#GPL_incompatible_in_both_directions) (in both directions) with GPLv.3 (which we're already using in our core stuff)

[2018-01-10 10:47] eiso commented on #69
To me CC-BY-SA makes sense.

On Jan 10, 2018 11:46, "David" <notifications@github.com> wrote:

[2018-01-10 18:07] marnovo commented on #69
Alright, given everything I'm convinced we should go with CC-BY-SA.
@mcuadros also agreed with it IRL.

[2018-01-10 21:45] ricardobaeta opened #91 "Reference Books in the Remote Guidelines"
"As a source{d} team member I would like to read a cool book on working remote so I can be better at it"

My first suggestion is https://basecamp.com/books/remote

[2018-01-11 17:11] dpordomingo opened #93 "Define a project skeleton"
Since we're trying to improve the way our users/developers/visitors approach our projects, I think it could be a good idea to propose a project skeleton to be followed.

Benefits of having a common skeleton already pre-defined:
- it makes our projects more homogeneous, what lets everyone to know what to expect where,
- it would let us start a project with all our agreed requirements ready to be fu

[2018-01-11 17:12] dpordomingo commented on #93
/cc @campoy

[2018-01-11 18:53] campoy commented on #93
I somehow can't assign this issue to myself.
Can I haz the rights, @mcuadros ?

[2018-01-11 18:56] eiso commented on #93
I happen to come across this, will give you the rights.

[2018-01-11 19:04] campoy commented on #93
Thanks, @eiso

[2018-01-12 15:30] carlosms opened #94 "Suggestions for onboarding process"
As a new hire myself, here are my thoughts on what can be helpful for the first few days:

1) Have a standard template for the onboarding issue checklist. For example, there is nothing terribly wrong with my issue (https://github.com/src-d/office/issues/22), but if it was a template in a repo I would open issues to
    - List all the mailing lists that I will be added to, and the purpose for each

[2018-01-13 16:41] tsolakoua commented on #83
How developers can apply and the hiring process in the PR here: https://github.com/src-d/guide/pull/95

[2018-01-15 12:59] eiso commented on #94
This is an awesome idea! @tsolakoua do you want to take care of this? Also coordinate with @estherrgarcia once she is back since she has some awesome onboarding/email material

[2018-01-15 14:44] tsolakoua commented on #94
Yes, @eiso sure! Will start working on it asap and finalise it when Esther comes back.

[2018-01-16 10:26] eiso commented on #91
+1 feel free to make a PR to this repo. Also if anyone wants the book ordered:

* Create an issue in https://github.com/src-d/office
* Sit back and wait till it arrives

[2018-01-16 10:29] eiso commented on #89
I encourage someone to make a PR to the README of the guide, or create an engineering/README with a ToC.

[2018-01-16 10:30] eiso commented on #83
Closing this issue since it's already in PR stage and will soon be merged.

[2018-01-16 10:30] #83 closed

[2018-01-16 15:05] eiso commented on #69
Closing this issue. It's settled.

[2018-01-16 15:05] eiso commented on #69
Wait, this was PR'd right @marnovo?

[2018-01-16 19:06] dpordomingo opened #98 "Define get-together requirements/limitations so it could be proposed by anyone"
If we could know about the [get together](https://github.com/src-d/guide/blob/184fb8937a293365f4e8a97b439705c898508d9d/office/company_events.md#get-togethers) requirements and limitations, we could propose events on our own.

To do so, I think we should know, at least:
- budget,
- the minimum amount of people needed,
- the days when it can occur,
- when can we leave the office and when should it f

[2018-01-16 20:44] dpordomingo opened #99 "Clarify index/content of this repo, and assign owners"
The [main readme](https://github.com/src-d/guide/blob/master/README.md) contains a huge table of contents that is easily outdated when it appears new content.

What if each section would contain its own `README.md` instead of maintaining a general one?
That way, each section could have its own description, index and even more: its own  [owner](https://github.com/blog/2392-introducing-code-owners)

[2018-01-17 10:49] bzz commented on #91
@ricardobaeta might be worth to get only an electronic copy - sadly, I found the book to be more of the advertisement for a style of work than anything else.

But it would be nice to have a thread going on the materials/books relevant for working remote!

[2018-01-17 14:32] marnovo commented on #69
I don't see any so I will PR it to https://github.com/src-d/guide/blob/master/engineering/licensing.md

[2018-01-17 16:51] eiso commented on #91
Agree with @bzz, in my opinion it's a lot of fluff and common-sense

[2018-01-17 17:28] ricardobaeta commented on #91
On a side note, already told @jorgeschnura that I'm excited to be of assistance on the *Remote Best Practices/Guidelines Project*.

[2018-01-17 18:12] ricardobaeta opened #103 "source{d} Social Responsibility"
I would like to suggest/propose for us, as a company, to have an attitude towards helping people in Madrid in difficult conditions, as volunteers. As an example, doing some Community work to help homeless people. I do it in Lisbon as volunteer for [Comunidade Vida e Paz](https://www.cvidaepaz.pt/).

[2018-01-18 21:49] campoy opened #105 "Create developer-community/README.md"
As requested in https://github.com/src-d/guide/issues/99

[2018-01-18 21:59] marnovo commented on #69
PR for review on https://github.com/src-d/guide/pull/106.

[2018-01-19 08:44] dpordomingo commented on #105
And I think it would be great to link it from the main `/README.md`

[2018-01-19 15:21] dpordomingo opened #109 "Summarize our engineering conventions."
It would be great to summarize our engineering conventions like which logging or testing libraries do we use, how do we handle errors...

For example, I came across with "[Choose one log library for Go and implement on all the projects](https://github.com/src-d/backlog/issues/840#issuecomment-343930191)" but I could not find it easily; we also own many big projects using the discarded library, wha

[2018-01-19 20:09] eiso commented on #109
Great idea!

[2018-01-19 20:11] eiso commented on #103
This is a really nice idea. Would someone be willing to spearhead this in Madrid?

Could also be part of people's personal section of the OKR's.

[2018-01-20 01:22] dpordomingo commented on #103
I like the idea a lot and I would also participate in the events.
I've no enough time to take care of its organization, but I would also help with it if someone leads it

[2018-01-22 21:49] #69 closed

[2018-01-25 18:54] carlosms opened #118 "Minor style requests for the documentation guide"
To have a more uniform documentation, I think the documentation guide should:

- Have a title capitalization style. In the guide itself the 2nd level titles are 'Title Case', while 3rd level are 'Sentence case'
- Specify if we should follow British or American spelling

[2018-01-29 21:05] eiso commented on #94
@carlosms just so you're aware, this is being followed-up on: https://github.com/src-d/minutes/pull/119

[2018-01-29 21:06] eiso commented on #91
I closed it because there is a sepr

[2018-01-29 21:08] eiso commented on #72
@tsolakoua we can now extract this information from our job positions posts. I am assigning this to you. It's a low/medium priority item.

[2018-01-29 21:15] eiso commented on #88
Closing this issue, since you can now find the book list here: https://github.com/src-d/guide/blob/master/office/books_list.md

[2018-01-29 21:15] #88 closed

[2018-01-29 21:16] eiso commented on #89
@bzz I am assigning this to you, for now, feel free to reassign and choose the appropriate priority.

[2018-01-29 21:18] eiso commented on #98
I am assigning this to @estherrgarcia now she's back from her holidays. @estherrgarcia get together's are owned by you, so let's make a pull request to the guide.

[2018-01-29 21:21] eiso commented on #99
I think this is a great idea. Sorry for taking so long to respond to this (which kind of proves your point of section owners).

I'll make a PR for this today, to kick off this process.

[2018-01-31 17:50] dpordomingo opened #121 "Consider the definition of one source of truth for CoC, DCO, Contrib..."
We currently copy the content of:
- [CODE_OF_CONDUCT](https://github.com/src-d/guide/blob/master/.github/CODE_OF_CONDUCT.md)
- [DCO](https://github.com/src-d/guide/blob/master/engineering/documents/DCO)
- the first five sections of the [CONTRIBUTING](https://github.com/src-d/guide/blob/master/engineering/documents/CONTRIBUTING.md)

Would it be useful to link to that files in src-d repositories ins

[2018-01-31 20:07] dpordomingo commented on #121
Here is an example of how [Twitter reuse its CoC](https://github.com/twitter/twitter-kit-ios#code-of-conduct), pointing to [its main CoC](https://github.com/twitter/code-of-conduct/blob/master/code-of-conduct.md)

[2018-02-02 11:37] dpordomingo opened #122 "Define the offboarding process"
There are people that assert that:

Do you think it could be a good idea to define the process or try to explain it?

Random [example with rationale and checklist](https://www.softwareadvice.com/resources/employee-offboarding-checklist/)

[2018-02-02 19:44] #118 closed

[2018-02-06 12:37] dpordomingo commented on #109
I added the [Go Code Review Comments guide](https://github.com/golang/go/wiki/CodeReviewComments) in case it is a company-wide recommendation (it is for Apps team)

[2018-02-13 18:45] campoy opened #124 "Add some prefix to all public Slack channels"
I recently asked a question intended to be seen by employees only to a public channel by mistake.

I'm proposing to add some kind of prefix to all the public channels so this mistake won't happen again

Unfortunately slack doesn't support emoji on the channel names (😱) so maybe we could use a utf8 that kinda looks like a globe? I propose ۝

[2018-02-14 16:07] mcuadros opened #127 "Define relocation support for new hires"
This is a topic that never was standardized, We covered this for some positions in the past.
But I think that we should define this properly and add it to the guide and the offers.

A preliminary amount agreed with Eiso, is up to 2000e, if you are moving from another country.

[2018-02-14 17:17] smacker opened #128 "Clarify wage negotiation (there is no such thing for engineering)"
It's better to have it here to avoid misunderstanding. Thanks!

[2018-02-14 17:22] eiso commented on #128
@smacker and I discussed this over Slack, we thought we should add this here.

Salaries of team members have never been in the guide because unfortunately it's illegal in Spain to make them public. In engineering we've always had salary levels, and we still do. Those each come with a specific salary, we don't have individually negotiated contracts. The only exception to this is roles of which we h

[2018-02-14 17:22] smacker commented on #127
Are there any other constraints? AFAIK in Lazada it was up to 5k but if you leave the company earlier than 1 year, you have to return relocation money to the company.

[2018-02-15 09:37] eiso commented on #127
The 2,000 Euro's is related to moving to the Madrid office. Relocation expenses are only covered at this moment if you're moving from another country. For the SF office, the amount still has to be determined and for now will be on a case by case basis, it would be for inter-state relocations.

To give further details as discussed in https://github.com/src-d/minutes/pull/131, it will be up to 2,000

[2018-02-15 09:39] eiso commented on #124
LGTM

@mcuadros were you the person who set up the public sync between channels?

[2018-02-15 09:40] eiso commented on #122
@dpordomingo this is an excellent idea, we have a process already but it's not documented.

@tsolakoua could you add this to your backlog.

[2018-02-15 11:50] tsolakoua commented on #122
@eiso, done.

[2018-02-15 12:05] mcuadros commented on #127
In further discussions was agreed to keep the amount in 2.000Euros, for relocation-related expenses for which invoices or receipts can be provided. Plus paid Hotel/Airbnb during first two weeks at source{d}

This money can be used for:
- Move furniture/boxes
- Flights, including family
- Extending the two weeks of hotel provided by source{d}

[2018-02-19 09:48] eiso commented on #103
@ricardobaeta I'd love to see how I can get involved in volunteering in Lisbon. My travel schedule makes it a bit tricky but if there is something I can do regardless, I'd like to.

[2018-02-19 09:49] #105 closed

[2018-02-19 09:49] #99 closed

[2018-02-19 09:50] eiso commented on #98
@estherrgarcia just pinging you, in case you missed this. Let me know any input you need from me.

[2018-02-19 09:51] eiso commented on #109
@mcuadros are you open to a PR from @dpordomingo for this?

[2018-02-19 09:52] eiso commented on #127
Flights, including family have been decided to be covered by source{d} fully outside of the 2,000 Euro relocation budget.

@tsolakoua now the decisions have been made, can you add this to your backlog to update the necessary files in this repo.

[2018-02-19 09:52] eiso commented on #128
@tsolakoua now this is clarified, can you please make sure this becomes part of the talent documentation in the guide.

[2018-02-19 09:55] eiso commented on #89
I suspect that with the recent deployment of https://github.com/src-d/code-annotation we might have clarified this further. If so, what are the next steps for the guide?

[2018-02-19 12:57] ricardobaeta commented on #103
@eiso I'll talk with Joaquim, the coordinator of the Saturday team, to ask him if I can bring a guest - formal name and totally ok - on the next lisbon trip. I'll let you know as soon as I can!

[2018-02-20 14:30] jorgeschnura opened #133 "Virtual Office Room"
One of the main issues that happen with remote teams is that you lose the "serendipity" of conversations starting and ending up in something new and useful.

I'd like to open up this discussion with a proposal in order to avoid this issue:

I'd like to set up a screen in the kitchen with a webcam where a Zoom Room is constantly open and you can see the people who are working remotely. These people

[2018-02-20 14:38] dpordomingo commented on #133
I like pretty much the idea and the reasoning in behind. I think it could be difficult to implement, and remote people might want to avoid joining this room. But from an in premise worker pov, I like a lot this idea.
About the implementation, once of the most importan things would be the speakers and mics; if they're the usual ones, the quality of the conversation can be to low.

[2018-02-20 14:41] eiso commented on #133
Great idea! I like it for the reason you mentioned but also because it allows us to be present at the welcome breakfasts that happen in the Madrid office. I would, however, have it so that people join when they feel like chatting, including people in the kitchen. Otherwise, it is hard to know who you can speak too when. What I mean by this is a variation on your idea where:

Person A in the kitche

[2018-02-20 15:41] tsolakoua commented on #127
Document related to the issue:  https://github.com/src-d/guide/pull/134

[2018-02-20 15:57] marnovo commented on #133
Definitely into "the Water Cooler Channel" and I like Eiso's solution.

Actually I wouldn't mind to go one step further and keep mics always on, as IRL there's not really a "mute".

There will always be a privacy trade-off, but in a way we are all in an office that's a public place, and we deem to be transparent. If something is really private it should be treated at closed doors.

[2018-02-20 16:29] eiso commented on #133
@marnovo mic always on in the kitchen I wouldn't do because I've often seen people use the kitchen for phone calls, private conversations discussing the weekend etc. and an always-on mic feels way too big brother/black mirror for me. The transparency we have as a company shouldn't interfere with personal matters in which people should be as private as they want to be.

[2018-02-20 16:51] gomesfernanda commented on #133
I myself being an on-premise employee like very much the idea.

I agree that the mic should have the option to be on or off, because if a person is in the kitchen talking to another about a private subject, there's a huge difference between a 3rd person coming into the kitchen and a "virtual" person entering the room without the 2 people in the kitchen noticing.

It's not about company's transpare

[2018-02-20 16:58] eiso commented on #122
Where is the PR that implements this?

[2018-02-20 17:09] jorgeschnura commented on #133
Why not just have it be on by default and if someone is going to talk about something private or sensitive that person can turn it off and turn it on again once the conversation has finished?

I also wouldn't restrain people from joining the room if they want to. Eiso mentioned that only people looking for a chat should join, but I think it is OK to allow anyone to join. If you don't want to be ch

[2018-02-20 17:14] jorgeschnura opened #136 "New Member Asynchronous Presentation"
According to research, one of the down-sides of working remotely is that is becomes harder to establish a personal relationship with other team members.

For this reason, I would create either a Github repo or a Slack channel (or both), where everyone has to post an introduction of themselves. This introduction (precise content to be defined) should have personal questions, as well as a link to th

[2018-02-20 17:15] eiso commented on #133
I actually agree ;)

[2018-02-20 17:34] tsolakoua commented on #122
The "Done" was referring to your comment to add this to my backlog. I've already started working on that and will have the first PR in a couple of days :)

[2018-02-20 18:26] campoy commented on #136
I feel like this could also be a great start for the "Why I joined source{d}" blog post series.
Basically same kind of information, just less private stuff since I don't want people to be harassed online 😄

[2018-02-20 18:41] eiso commented on #133
@jorgeschnura what we could do before we have the hardware setup is have an appear.in room that people can already join in the same manner, "virtual hangout" that will soon be available in the kitchen. Appear.in rooms support up to 14 members and since they are in the browser, easy to use.

[2018-02-21 11:04] jorgeschnura commented on #133
Sure, let's use https://appear.in/source{d} for now.
I'll create the guide documentation with this solution and will update once we have the hardware set up

[2018-02-21 11:07] eiso commented on #133
@jorgeschnura if you remove that room from your account, I can make it a full feature room under my paid one.

[2018-02-21 11:07] jorgeschnura commented on #133
Ah OK, didn't know you got a paid one already

[2018-02-21 11:08] jorgeschnura commented on #133
Done

[2018-02-21 11:15] eiso commented on #133
I did, it's what powers all of the remote accounts: https://github.com/src-d/company/blob/master/communication/video-conferencing.md#claimed-rooms-for-those-who-are-fullyfrequently-remote

[2018-02-21 11:45] #128 closed

[2018-02-22 10:18] eiso commented on #136
I like this idea and +1 on @campoy's suggestion as using this as a kick off for the blog post. What kind of questions/content do you have in mind? Also know that this can be scheduled with Geekbot.io.

[2018-02-22 11:07] eiso opened #143 "OSD description is outdated"
https://github.com/src-d/guide/blob/master/talent/open_source_days.md needs to be updated to the remote first workflow without sprints.

[2018-02-22 11:49] estherrgarcia commented on #122
I just saw this. I really need to learn more about github :woman_facepalming: Sorry Anna

I prepared something like than a few months ago. I didn't know that we wanted to add it here, so we should change the format, and i guess add some missing information (regarding the ESOP, for example). But maybe it's helpful to start @tsolakoua
We can rewrite it together if you want ;)

https://docs.google.co

[2018-02-22 11:56] eiso commented on #122
@tsolakoua why don't you do a GitHub QnA session with Esther; share the knowledge

[2018-02-22 14:14] vmarkovtsev opened #145 "DD template is not attached to the workflow"
Design document template is not linked here: https://github.com/src-d/guide/blob/master/engineering/workflow.md#design-document-1st-iteration

[2018-02-22 14:25] tsolakoua commented on #122
The document @estherrgarcia has prepared is great with specific necessary information (comparing to the one what I had started writing that was very general). It would be nice to work on the existing document together!

[2018-02-23 08:42] bzz commented on #94
Really nice suggestion, aligned with discussion on https://github.com/src-d/minutes/pull/146#discussion_r170191543

@tsolakoua please, let me know if you need help converting this to an [issue template](https://github.com/blog/2495-multiple-issue-and-pull-request-templates)

[2018-02-23 09:22] dpordomingo commented on #109
Oh, for sure I can start working on this, but I'll need tons of help.

(I updated the issue description with vendoring, and building issues)

[2018-02-23 09:53] juanjux commented on #109
Add coding conventions / coding style (for all languages) to that list. For example, we've a Python one somewhere, and also I know we follow Google style for variable/names for C++ (but fortunately not other ~~retard~~ points in their coding guide like not using exceptions), but it would be great to have them all linked in this document.

[2018-02-23 10:50] eiso commented on #145
@marnovo you can link it to here: https://github.com/src-d/guide/blob/master/product/design-documents.md

[2018-02-23 11:02] jorgeschnura commented on #136
I had thought of the following:
- What's your name?
- How old are you?
- Where are you from?
- Where have you lived?
- What languages do you speak?
- What are you going to be doing at source{d}?
- Would like to share your Twitter, Instagram or Medium?
- What are your main hobbies?

The rest should be a Q&A from the team. If we see some questions being repeated often we can add them as standard.

W

[2018-02-23 11:03] jorgeschnura commented on #133
https://appear.in/source{d} it's working since a few days, with little success though so far

[2018-02-23 12:28] eiso commented on #133
I am joining now, will try it for a few days to see if anyone joins me.

[2018-02-23 12:38] eiso commented on #136
I like them! Instagram makes me cringe though ;) but that might just be me.

I like the idea of the rest just being a simple QnA in the channel.

Geekbot is not really made for it but we could setup a custom report that asks someone once and then is without participants after:

![2018-02-23-123655_1873x1591_scrot](https://user-images.githubusercontent.com/1247608/36594517-4afafc34-1896-11e8-88ba-8

[2018-02-23 13:09] eiso commented on #133
After 40 mins, I needed to stop it, it was taking 100% of one core of my CPU, GPU to the max and creeping up ram. It was a lot better still than using Zoom but not possible to do from my main laptop. This reminds me of a company I visited a few years back that were using cheap tablets to have the virtual room on everyone's desk.

[2018-02-23 15:39] eiso commented on #122
https://github.com/src-d/guide/pull/147

[2018-02-24 12:20] dennwc commented on #136
I know that there are people that were in source{d} for ages, but I'd like to see these questions asked to current members and veterans as well :)

Channel might also be called `#intro`.

[2018-02-24 12:26] dennwc commented on #94
Note that notifications for repositories are enabled automatically when joining the team on GitHub (including guide, minutes, etc).

[2018-02-25 07:35] dpordomingo commented on #136
I agree with Denys, people already in src should also share this info, so new mates would also know us better.

About questionnaire, I'd consider these two from our eng QA interview:

It might be a conversation starter. Also applicable to non dev roles as Eiso programming in Haskell or Esther learning Python

It might be useful for having lunch together or for Esther considering Friday lunch.

[2018-02-26 16:04] gomesfernanda commented on #103
I'm totally in. I've never volunteered as part of an organization, I've always done it by myself, so I'm not familiar on how to proceed, but I can do some research.

[2018-02-26 16:23] jorgeschnura commented on #133
Hmmm, that makes it quite unusable, yes.
Will have a look at tablets. I remember we did the same for Curro. How did it work @mcuadros ?

[2018-02-26 16:24] mcuadros commented on #133
Terrible bad

[2018-02-28 11:47] eiso commented on #136
@dennwc you make a very good point. Maybe the format is different than or the format is the same but the summary gets stored in our private repo.

[2018-03-01 10:59] jorgeschnura commented on #133
We will leave this for now as there are technical problems that are hard to solve

[2018-03-01 10:59] #133 closed

[2018-03-05 12:12] jorgeschnura commented on #136
@eiso don't you think this would be better suited for Github than Slack? That way you can always read about your colleagues. It's harder to do on Slack

[2018-03-06 15:42] #122 closed

[2018-03-07 15:58] jorgeschnura commented on #136
This has been discussed with @eiso in the Management meeting and it has been decided to keep it in Github

[2018-03-09 15:01] tsolakoua commented on #72
Work at https://github.com/src-d/guide/pull/161

[2018-03-13 15:18] tsolakoua commented on #143
@eiso I will update it.

[2018-03-13 15:22] mcuadros commented on #143
@tsolakoua  thanks!

[2018-03-14 02:06] eiso commented on #145
@marnovo ping

[2018-03-15 10:30] #143 closed

[2018-03-20 18:13] estherrgarcia commented on #136
Hi!
I was thinking about this. Maybe it is because I’m so curious but I feel that I’m not going to know this person after these questions. I’m asking random things all the time in the kitchen, the typical things like, what is your favorite film, book, series,... what did you do last weekend, what are you gonna do this weekend. Thanks to that, I know no one is, like me, Atleti supporter, I know Dav

[2018-03-21 12:40] bzz commented on #109
\cc @smola

[2018-03-21 18:53] campoy commented on #136
I think this would be a super interesting way to create more content for the blogpost, I love the questions.

[2018-03-23 11:47] eiso commented on #136
I really like the questions you put @estherrgarcia

[2018-03-23 12:35] #72 closed

[2018-03-23 14:19] dpordomingo commented on #121
Ouch, sorry for forgetting this!
Yes, all your three proposals make sense to me and would solve the problems I described.
Ping me if you need assistance with the projects I maintain.

[2018-03-28 12:29] tsolakoua commented on #94
@r0mainK and @fulaphex Is there anything you would like to mention for your onboarding process? We already describe the [on-boarding process](https://github.com/src-d/guide/tree/master/talent/onboarding) and I am also preparing a welcome email for new members. Feel free to write here your feedback and make any suggestions.
I am asking you two because you joined source{d} since we posted the onboar

[2018-04-02 15:23] #136 closed

[2018-04-06 00:02] campoy commented on #121
I sent a new PR #184, let me know what you think

[2018-04-06 13:25] marnovo commented on #145
PR open at #182.

[2018-04-06 18:46] #145 closed

[2018-04-06 19:13] #121 closed

[2018-04-09 14:37] #98 closed

[2018-04-13 15:06] smola commented on #124
It might be better to use a prefix that is easy to write (e.g. `public-`). This way one can use it in Slack autocompletion, write it in minutes, etc.

[2018-04-13 17:06] dpordomingo commented on #124
`public-` prefix would be great for me too (I had the same problem that @campoy had)

[2018-04-13 18:10] dennwc commented on #124
An alternative would be to [share channels](https://get.slack.help/hc/en-us/articles/115004151203-Create-shared-channels-on-a-workspace-beta-) with source{d}-community. These channels will appear separately (see `#go-git`) and won't require any prefix. Also shared channels has better support for all Slack features (snippets, reactions, etc).

I'd love to see it configured for `#babelfish` at least

[2018-04-18 10:17] #109 closed

[2018-04-23 13:41] EgorBu opened #204 "License for public dataset"
Hi!

We need to decide about licenses we can (have to) use for public datasets and add it to guide.

Examples of licenses:
In PGA: https://github.com/src-d/datasets/blob/master/DCO
In other dataset related to data from Github: https://www.kaggle.com/davidshinn/github-issues

[2018-04-23 13:47] EgorBu commented on #204
@marnovo, @campoy, @mcuadros - what do you think? (If somebody else is missed - please add them to discussion)

[2018-04-23 13:49] smola commented on #204
IANAL but if we include actual source code, we cannot use a traditional software license (e.g. Apache or GPL), since it would be incompatible. We can look into some database licenses instead: https://opendatacommons.org/licenses/

[2018-04-25 13:29] eiso commented on #94
After speaking with @tsolakoua today, she gathered everyone's feedback and is continuously improving the process. I am therefore closing this issue for now.

[2018-04-25 13:29] #94 closed

[2018-04-27 11:32] smola opened #208 "Pseudonymous contributions"
There are some legitimate cases for pseudonymous contributions, but that might legally complicate the whole DCO policy.

We are currently rejecting such contributions, but we might consider if we are able to legally accept them.

See: https://github.com/src-d/go-git/pull/819

[2018-05-02 09:06] eiso commented on #208
@smola it's a good point, if we can help people protect their privacy even better.

Let me tag one of our advisors, @josephjacks who might know this.

[2018-05-04 00:25] campoy commented on #204
I had a quick chat with @eiso about this, I wonder if he could share his knowledge here.

[2018-05-04 08:47] eiso commented on #204
@campoy using the [ODBL 1.0 license](https://opendatacommons.org/licenses/odbl/) suggested by @smola is a good option because we specify the individual content licenses to the best of our ability in the index file of the dataset.

audiovisual material, and sounds all in the same database, for example),
and so the ODbL only governs the rights over the Database, and not the
contents of the Database

[2018-05-09 14:14] juanjux opened #217 "Esther needs info about how to proceed with "family/friends stay" reimbursements"
From: https://github.com/src-d/guide/blob/fe18e8d07939d8751fd237ab56fbe096cfe0e7fc/general/expenses_travel.md#what-expenses-are-covered-when-travelling

I asked @estherrgarcia  about this because of this week because I'll be staying at my beach house during Jon The Beach 2018 but she said it has never been done before so she doesn't know how to proceed.

cc @jorgeschnura

[2018-05-09 15:36] eiso commented on #217
@estherrgarcia pay @juanjux a bonus in his salary of 50% of what it costs for other teammates for whom we're booking lodging

[2018-05-11 13:58] #217 closed

[2018-05-11 17:41] marnovo opened #219 "Guidelines for project release notes"
In some of our projects we don’t have release notes properly executed with a detailed changelog (preferably with links to issues), and sometimes no release notes at all, which is bad for internal and external users.

We should have general guidelines on the guide to standardize the content and process. E.g.:

- How frequently/what prompts a release?
- What should be provided in terms of files?
- W

[2018-05-12 11:51] marnovo commented on #219
Also see:
https://github.com/src-d/feature-idea/issues/36#issuecomment-388535136
https://github.com/github-changelog-generator/github-changelog-generator#output-example

[2018-05-16 08:11] smola opened #221 "DCO: should source{d} employees sign-off?"
As per discussion here https://github.com/src-d/conferences/pull/63 it seems source{d} employees do not need to sign-off.

If that is the case, we would need to:
* update both our DCO checker for PRs (which, I guess, would require everyone either signing-off or committing with the corporate email)
* update the guide https://github.com/src-d/guide/blob/956c0d0d240abc8e5dd37df9fdb8bb8ce34768fe/engin

[2018-05-16 19:26] campoy commented on #221
Rather than asking people to use their corporate email, could we instead have a list of the authorized emails?

Two reasons for this:
- it's easy to forge a fake blahblah@sourced.tech email and get the DCO bot to think it's fine
- I've been using campoy@golang.org for most of my OSS work and I'd rather keep it that way (having two identities on git is a pain)

[2018-05-16 19:34] campoy commented on #204
Created an issue to track the change in the datasets repo, I'll close this one.

[2018-05-16 19:34] #204 closed

[2018-05-17 08:34] smola commented on #221
@campoy Actually we cannot prevent the forgery with email checking, but we could check GitHub accounts that created a PR and check if they are members of the `src-d` organization.

I would suggesty that, even if we add some kind of whitelisting, you can continue using whatever email and account you want if you sign-off your commits.

[2018-05-17 08:36] smola commented on #221
Also, checking at PR level instead of commit-level has an interesting edge case: if I cherry-pick a 3rd party commit that is not signed-off and create the PR myself, it would pass the whitelist, but it would not be legally valid. So proper whitelisting should probably check both PR account + emails in all commits.

[2018-05-17 13:01] jfontan commented on #221
The checker can be configured to bypass sign check for organization members. I'm not sure how it is enforced.

https://github.com/probot/dco#skipping-sign-off-for-organization-members

[2018-05-17 14:41] dpordomingo commented on #221
email and signoff message can be imposted
commits can be GPG signed (`--gpg-sign`) so it could be used to ensure they where made by sourcerers

[2018-05-18 07:38] smola commented on #221
@dpordomingo But Pulll Request account taken from GitHub API cannot.
It would be cool that we all used `--gpg-sign`, but dropping the requirement of signing-off just to add the requirement of GPG-signing is going to add more friction instead of removing it.

[2018-05-18 09:17] eiso commented on #221
AFAIK employees don't have to sign-off but it makes it easier as people go on to other companies, to just have it be the habit.

[2018-05-18 13:04] smola commented on #221
Note that you can also setup a client-side hook to add sign-off to all your commits to a given repository: https://stackoverflow.com/a/46536244

[2018-05-22 11:44] campoy commented on #124
After seeing how well shared channels work and how much of a pain quinde can be I have a proposal.

I'd like to make all of our public channels be part of the sourced-community slack and possibly share them with other communities (such as go-git on gophers.slack.com).

This will mean that source{d} employees will need to log in to sourced-community.slack.com in addition to src-d. But that will als

[2018-05-22 14:26] eiso commented on #124
LGTM

[2018-05-22 16:53] dennwc commented on #124
No concerns expect the requirement to join into two separate Slacks.

But I don't see any other way to solve the issue *and* be able to share channels with Gophers.

[2018-05-22 17:51] marnovo commented on #124
From the top of my head when thinking about this in the past, two key concerns:

1. **Keeping the gold in the land of the free.** The source{d} community Slack runs a free plan, and as far as Slack pricing goes, it will probably always be. This means we do not get all the features. E.g.:
    1. **Limited history/search to 10k messages in all channels.** Until a while ago, whatever knowledge, insig

[2018-05-23 08:59] mcuadros commented on #124
The reason because the channel aren't synced is because sync is a premium feature only available in the payed accounts, and community is not.

[2018-05-23 13:32] smola opened #224 "DCO: is sign-off required for trivial changes (e.g. typo in README)?"
Should we merge trivial changes such as a fixed typo in README without sign-off?

See practical example: https://github.com/src-d/gitbase/pull/292#issuecomment-391339160

cc @eiso

[2018-05-24 08:40] eiso commented on #124
@campoy I don't really see it as so bad as in being in two slack orgs. I have been doing it since day 1 and it works absolutely fine.

[2018-05-28 10:16] marnovo commented on #124
Thanks for taking it into consideration!

But how would you do this, as seems Quinde is broken and the Slack feature is for paid-paid sharing only?

Please do! I also find impressive that no one has replaced Slackline/Quinde's service so far… I asked them once if they'd ever open source it but got no answer. Actually wondering how hard it would be to write one of our own…

[2018-05-29 08:16] smola commented on #124
Note that the Quinde approach is really annoying, since it does not sync threads, reactions and edits. IMHO shared channel > two independent organizations > quinde synchronization.

[2018-05-29 13:58] marnovo commented on #124
@smola, again: of course shared channels > any other solution, but that requires both workspaces to be paid, which is a no-no in our community one.

FYI, some alternative projects that do this to certain degrees written in different languages:
https://github.com/rsk-lab/RSKSharedChannels
https://github.com/Lilleengen/xSlack
https://github.com/414owen/Inter-Team-Slackbot
https://github.com/Dylan131

[2018-05-29 14:13] smola commented on #124
Maybe we can contact Slack support for them to provide some kind of cheaper option for our community Slack without paying for every external user?

What's with Gophers' Slack? I don't think they are actually paying for their  27,619 registered users, which would be $172,618 per month.

[2018-05-29 15:23] marnovo commented on #124
Of course. cc: @campoy's charm.

From @campoy a couple of comments above:

[2018-06-04 08:56] smola commented on #224
I think this is a good example of change not subject to copyright?

https://github.com/src-d/gitbase/pull/277

Typo fix: just removing a word, not modifying or adding any content.

[2018-06-04 09:06] smola commented on #224
Note that the FSF talks about _[legally significant changes for copyright purposes](https://www.gnu.org/prep/maintain/maintain.html#Legally-Significant)_.

However, this is a highly subjective concept:

I would rather not put the responsibility on source{d} developers to asses this on their own.

[2018-06-05 12:01] eiso commented on #224
What @smola mentions is correct. If you ever need feedback before replying to a developer, feel free to ping @jorgeschnura or myself.

[2018-06-06 08:02] smola commented on #224
@eiso Do you mean that we can accept typo fixes without the DCO?

[2018-06-08 12:09] eiso commented on #224
Correct

[2018-06-08 14:42] smola commented on #224
Thanks @eiso!

[2018-06-08 14:42] #224 closed

[2018-06-08 15:46] bzz opened #226 "Available hardware: a keyboard with silent switches"
source{d} office in Madrid is awesome open space, but on the pick of productivity it also may become a little bit noisy, and the list of available hardware does not include any _silent keyboard_ option ⌨️

I would like to know if anybody else, for the sake of sanity of your colleagues, would be interested to fix it, if an option is provided for those honorable souls who feel empathy for their co-w

[2018-06-08 15:56] smola commented on #226
It makes a lot of sense to add that option.
Although I think that a lot of us are already using the Blue and Brown switches and contributing to the clicks from hell noise...

[2018-06-08 16:35] gomesfernanda commented on #226
I believe it makes complete sense, thanks Alex!

[2018-06-08 17:36] marnovo commented on #226
Been there; seen it; done that!

For those willing to try Cherry MX Silent Red Switches on how they feel and sound, my Varmilo keyboard is available on my desk. Just keep greasy fingers and liquids away, please.

[2018-06-08 17:43] marnovo commented on #124
@campoy @mcuadros what do you think about using one of these? https://github.com/src-d/guide/issues/124#issuecomment-392786536

[2018-06-11 08:17] mcuadros commented on #124
If works, for me is fine.

[2018-06-14 18:35] marnovo opened #228 "Add source{d} to awesome-open-company list"
Add source{d} to **[opencompany/awesome-open-company list](https://github.com/opencompany/awesome-open-company)**.

Given [the description of an Open Company](https://github.com/opencompany/awesome-open-company#what-is-an-open-company), seems we're eligible:

From their [inclusion guidelines](https://github.com/opencompany/awesome-open-company/wiki/Inclusion+guidelines), we might have to find the

[2018-06-14 22:37] campoy commented on #124
I'm concerned about using one more ad-hoc solution, but I don't want to pay so much to Slack.
I really want to stop using slack and migrate the whole conversation to something like discourse.

Let's wait until Victor joins and let him figure this out. I'm sure Docker has had similar issues and they're definitely not a non for profit org.

[2018-06-18 09:10] smola commented on #221
Maybe this is a non-problem. By now everyone at source{d} should be used to to add `-s` to all commits or have configured their local repositories to sign-off everything by default.

[2018-06-19 04:07] marnovo commented on #124
Cc: @vcoisne, welcome aboard and please help us figure this out of this pickle!
P.s.: Mind you this is our public guide repo.

[2018-06-19 19:10] vcoisne commented on #124
Thanks @marnovo I have reached out to a contact at SlackHQ + support team to see if they have any recommendations / best practices. Also looking at 3rd party options, although I'm not sure we want to go down that path.

[2018-06-22 16:29] marnovo opened #233 "Transfer/gift holiday/vacation days"
Do we have any policy on if it is possible for one employee to gift/transfer a number of their currently available holiday/vacation days to another fellow employee? E.g.:

[2018-06-25 12:12] estherrgarcia commented on #233
No, we don't have it. The law says that the holidays are a right of the employee and the employee has to generate these days.
The company can decide to do whatever the company wants (as the same way the company decided that you can work during the weekend and get an extra day), but always if every part agrees (and signing an agreement with the information).
In my opinion, it doesn't have any sense

[2018-06-25 18:18] vcoisne commented on #124
I took care of this issue. Closing

[2018-06-25 18:18] #124 closed

[2018-06-26 12:17] eiso commented on #233
I think it's something that is nice and kind-hearted, matches our culture, and I don't see any downside to it. It has my OK. I would like @jorgeschnura's input before proceeding, but if he's OK with it, @estherrgarcia can you prepare the PR to the guide for it.

[2018-06-26 12:53] #221 closed

[2018-06-26 14:42] tsolakoua commented on #233
I agree with @estherrgarcia as I cannot think of any use cases, but it's true it's kind-hearted without any downsides.

As the holidays are paid, I have a question; if Alice receives gift vacation days from Bob, does that mean that the company will compensate more/less if Alice leaves without having used the days (because maybe Alice and Bob have different salary levels)?

[2018-06-29 16:56] eiso commented on #233
@tsolakoua you raise a good point, these days could not be compensated accordingly.

[2018-07-01 13:08] jorgeschnura commented on #233
But they should, otherwise the company is saving money without having done any merit for it

[2018-07-02 16:32] eiso commented on #233
Good point. @jorgeschnura can we compensate them at their original value? (_insert blockchain joke_)

[2018-07-20 10:06] smola commented on #233
The problem here is that, AFAIK, no employee can legally agree to give up their minimum holidays without receiving an additional economic compensation.

Even if these are traded, the company would still be obligated to pay to the one who traded them off.

[2018-07-20 10:14] smola commented on #219
At maintainer's discrection. But in general, if a bug is fixed that is critical regression from latest release, a new release should be done ASAP. If, after some time, there are pending changes that are well tested, a release should be performed too.

For applications, our goal is to have Linux, macOS and Windows binaries posted to GitHub release page. Docker image pushed to Docker Hub if applicab

[2018-07-20 10:31] smola commented on #103
At the risk of looking grumpy, I would avoid this being part of OKRs. While the intentions are great, this leads to some not-so-good side-effects:

- This means that the company is benchmarking an activity that is not performed as part of one's job.
- This also puts at disadvantage those that, while doing volunteer work, do not want to disclose it publicly. There is a number of reasons for that, b

[2018-07-20 10:33] smola commented on #93
I think this is close to a project skeleton: https://github.com/src-d/guide/tree/master/engineering/documents

It would need to add some missing files, move some others, etc.

[2018-07-24 11:33] eiso commented on #103
@smola your comment is awesome and I couldn't agree more, touched upon some things I had never considered. Learned something from this.

[2018-07-24 11:35] eiso commented on #233
That's good to know @smola, I'd still be okay with that since the people getting let go is rare and a fair use policy on trading should solve most issues.

[2018-07-26 10:49] smola commented on #93
@campoy I don't think so. But you can setup your local git `init.templatedir` to point there so that it is used by `git init`. See this: https://git-template.readthedocs.io/en/latest/

[2018-07-31 20:33] campoy commented on #93
Ok, I do agree that that folder seems like a good candidate to be considered as the starting point for any repo.

Would you @smola like to update the engineering documentation to point to this directory?

Thanks

[2018-08-17 16:55] bzz commented on #228
Let's add!

[2018-08-17 22:14] eiso commented on #228
Definitely! Cool find.

[2018-10-01 13:28] meyskens commented on #103
Not sure what the status on this is?

I am a volunteer myself at [Moeders voor moeders](http://www.moedersvoormoeders.be/). As an organization that strongly depends on (unpaid) volunteers it is always super nice to see people from companies getting a few days per year where they can volunteer. Even one time volunteers can be a great help in busy periods of the year.

For making it an OKR I totally

[2018-10-03 09:33] smola opened #252 "Add table of precalculated stock options for each team and role"
Applying the formula everytime is tedious and error prone, it would be good to have a table with all current values precalculated.

[2018-10-04 15:12] #252 closed

[2018-10-11 15:51] smola opened #266 "Supported web browsers"
Related to this: https://github.com/src-d/gitbase-web/pull/270

It seems we are targeting very recent Firefox and Chrome versions. It would be good to better define what's our browser compatibility target.

[2018-10-11 15:57] marnovo commented on #266
That's a good point. We have had informal compatibility targets a year ago, particularly regarding display resolution, based on the demography we observe on our traffic @ landing and blog websites.

But it is true that this policy should be a company/product-wide requirement. We will check again how are ours stats regarding that to target X% (e.g. 95%+) and adapt with some heuristic on top to be a

[2018-10-11 16:07] smola commented on #266
Sure. Also we'll need different targets for landing/blog and gitbase-web/bblfsh-web. I think it's safe to assume that the later could have more restrictive policy.

[2018-10-12 16:40] hnarasaki commented on #228
Claimed! :)

[2018-10-12 17:06] hnarasaki commented on #228
Added Source{d} to https://github.com/opencompany/awesome-open-company. Created/Merged PR https://github.com/hnarasaki/awesome-open-company/pull/1. Is there a way I can create a PR to the Source{d} repo for this for the Source{d} Hacktoberfest?

[2018-10-15 06:43] m09 commented on #103
This issue would also be a good place to discuss source{d} impact on climate and what we could do to mitigate it in the light of the [recent report from IPCC](http://www.ipcc.ch/report/sr15/).

I see two points where we probably have a worse effect on climate than a regular company:

1. we fly a lot
2. we use lots of electricity to compute stuff

To mitigate those we could:

1. take the train when

[2018-10-15 08:29] meyskens commented on #103
Just commenting om point 1 here: `we fly a lot` + `take the train when it's possible`
I actually took the train from Brussels to Madrid. While it is doable (and in my opinion amazing) it is a lot more expensive than flying to the point where I didn't feel well for the company spending that much money on it. (which in the end i payed most myself)

[2018-10-15 09:03] m09 commented on #103
Indeed it's a big problem and it restricts the train options to main lines (Paris-Bruxelles is ok for example) :/

[2018-10-15 09:32] meyskens commented on #103
In France and Belgium you start to see train companies starting their own low-cost but slower (=less infrastructure costs) train offers like [izy](https://www.izy.com/) and [ouigo](https://www.ouigo.com/) which is certainly a cheap option compared to flying but only on a few lines do they operate.

[2018-10-16 08:32] smola commented on #103
There's some companies / coops doing this. One of them, which works nationally is [Som Energia](https://www.somenergia.coop/es/). There are a few others that do it, sometimes operating only in specific regions.

[2018-10-17 09:19] smola commented on #93
@campoy Yes, I'll update docs and restructure the directory a little bit.

[2018-10-17 11:17] smola opened #275 "Replace rawgit (deadline: October 2019)"
rawgit is being deprecated in October 2019. We'll need to migrate to something else by then.

[2018-10-17 13:01] #219 closed

[2018-10-24 11:33] Soundug commented on #91
Hi!
How about these books -
[Ultimate Guide to Remote Work](https://zapier.com/learn/remote-work/)
[Your Brain at Work](https://www.optimize.me/philosophers-notes/your-brain-at-work-david-rock/)

Can I add these making a PR as a source{d} hacktoberfest contribution?
Thanks.

[2018-10-26 10:33] smola commented on #226
@bzz I think you might want to create a PR right away adding the model you're proposing and adding it as the first option in the list.

[2018-10-26 12:05] bzz commented on #226
@smola proposed in #296

[2018-10-26 16:44] #226 closed

[2018-10-26 23:16] mcuadros opened #300 "LICENSE"
We should clarify the LICENSE of the guide

[2018-10-28 04:43] Rupeshiya commented on #300
@mcuadros  are you talking about adding license to the project ? , I would like to add .

[2018-11-27 07:52] marnovo opened #310 "Update Macbook Pro offering in hardware list"
The current Mac notebook model we offer in the [hardware list, the 13-in non-touchbar MBP](https://github.com/src-d/guide/blob/cdadebdf481ea788c2d32a29491344aee67ad229/general/available_hardware.md#apple-13-inch-macbook-pro---space-gray) is by now already 1.5 years old (!).

Apple [updated their MBP line a few months ago](https://www.apple.com/newsroom/2018/07/apple-updates-macbook-pro-with-faster

[2018-11-27 16:22] creachadair commented on #310
#309 is also related. This makes sense to me.

[2018-12-04 00:39] creachadair commented on #310
I wrote the specs for the 15" model by finding a comparable relative spec to the 13" model. If we are going to bump up the specs for the latter, we should probably also do the former. Would you like me to prep a PR with those changes for your consideration?

[2018-12-12 12:50] smola opened #315 "Repositories with non-confirming MAINTAINERS file"
Some of our repositories contain a maintainers file that does not conform to [what our docs specify](https://github.com/src-d/guide/blob/master/engineering/maintainers.md).

That is, one of the following:
- The name of the file is not exactly `MAINTAINERS`.
- The format is not exactly `Full Name <email> (@github_handle)` per line.

Please, note that modifications to this, as fancy as they might lo

[2018-12-12 12:51] smola commented on #315
cc @mcuadros @vmarkovtsev @dpordomingo

[2018-12-12 15:21] smola commented on #315
Thanks @vmarkovtsev!

[2018-12-12 15:21] zurk commented on #315
@vmarkovtsev priority?

[2018-12-12 15:32] vmarkovtsev commented on #315
@zurk Background

[2018-12-13 14:52] dpordomingo commented on #315
@smola I felt the necessity of converting the repo list into a todo list, to let the people update.
- I updated `blog`, `landing` and `docs`
- I could not update `talks` because it is read-only :man_shrugging:

[2018-12-15 09:43] dpordomingo commented on #300
done by https://github.com/src-d/guide/pull/316

[2018-12-18 18:44] m09 commented on #310
Just a note regarding the layouts: I type in azerty and on the laptop I got (which is not this model), there is no way for me to type `<` and `>`. As you can guess, this is rather annoying to do about anything related to programming. It might therefore be safer to make sure that the layout will be usable for the employee before deciding instead of setting hard guidelines.

I do believe that whenev

[2018-12-19 10:41] smacker commented on #310
US keyboard just doesn't have that button:
https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/KB_France.svg/500px-KB_France.svg.png

[2018-12-19 10:41] m09 commented on #310
I use [X11 unicode input](https://en.wikipedia.org/wiki/Unicode_input#In_X11_(Linux_and_Unix_variants)) which means I type `Ctrl+Shift+U 033E` for `>` and `Ctrl+Shift+U 033C` for `<`. Which means I don't do HTML without an external keyboard. Overall it's not that big a deal but still obviously annoying. As to why it is impossible to type, it's because the standard US QWERTY layout has one less key

[2018-12-19 11:21] dpordomingo commented on #310
I also wonder if inheriting laptops would be a priority for a company that is growing and is mostly remote, and there is no that much rotation, and the expected life of a laptop should be less than the expected for a developer in the company.

[2019-01-08 14:20] vmarkovtsev opened #322 "Revise tech talks"
https://github.com/src-d/guide/blob/master/developer-community/tech-talks.md describes how we did tech talks in 2017. We no longer do them, so how about changing present to past tense everywhere.
cc @campoy

[2019-01-10 15:34] dpordomingo commented on #322
Or maybe archive that guide.

[2019-01-14 19:50] campoy commented on #322
Yeah, I agree this should be simply removed. I'll send a PR.

[2019-01-14 19:53] campoy commented on #322
Actually, I think it'd be better to take some time and review the content of the whole folder.

I'll work on this later on, as it's not really urgent.

[2019-01-17 20:07] marnovo commented on #266
@smola from https://github.com/src-d/product/issues/302#issuecomment-455313094:

[2019-02-14 15:57] dennwc opened #327 "Clarify conventions regarding TODO comments"
It seems there are no guidelines on how to interpret TODO comments in the code.

To start the discussion, here are some practices I tend to use:

A simple comment looks like this:
[code]
`user` is your github username, so people can reach out to you in case they find this TODO while hunting a bug, or if the comment is not clear enough.

For multiline:
[code]
Note that it uses `//` tokens instead o

[2019-02-14 16:13] kuba-- commented on #327
I like that, but I would even like it much more if I see how it can help in the future. Most likely if you take a look into open source projects it looks like a funny leftovers.

[2019-02-14 16:21] dennwc commented on #327
At least for me, I always try to analyze edge cases and failure modes, and sometimes there is not enough time to cover everything, or current use case does not require it. So I usually place `TODO` to remember what kind of use case and/or input I've considered, and it helps later if the use cases changes and assumptions become invalid.

And you feel a bit of a relief when hunting a bug leads you t

[2019-02-14 16:49] juanjux commented on #327
While writing the user is not bad by itself, you're also one `git blame` away from seeing who wrote it.

[2019-02-14 16:53] dennwc commented on #327
Sometimes git blame may show the user who fixed indentation, copied the file or code snippet. User name is more reliable in those scenarios.

[2019-02-15 03:14] creachadair commented on #327
I generally use `FIXME` comments as something to grep for when I'm working, and ideally those should never get committed (except locally in a dev branch).

As far as `TODO` comments, I generally agree that they should be qualified: Either the user who should be consulted, or better still `TODO(#xxx)` with an issue number that contains the context for the discussion. It's really easy for individual

[2019-02-25 12:16] smola commented on #327
I also sometimes use `XXX:` to denote a block of code that I envision to be problematic in some edge cases, or to document some non-obvious assumptions that are known to not always be too or, in general, add a word of caution of something that is very hacky in a way that is not obvious to the reader.

On the other hand, I have checked remaining `XXX:` comments added by me to src-d/go-git and they

[2019-02-25 12:25] juanjux commented on #327
I use XXX for things I've to fix before doing the PR because it was easy to grep, but a lot of people use XXX today so I probably should switch to something else :)

[2019-03-14 13:49] se7entyse7en opened #331 "Python conventions improvements ideas"
The current status of python conventions is a bit poor. Here are some of the things that I think could be decided and that would help to improve consistency across python projects:

- _supported versions_: from some slack discussions it seems to be `>=3.5`, they could be tested only on travis or using for example `tox`
- _deps managment, packaging and publishing_: `pip + requirements.txt`, `pipenv

[2019-03-14 14:22] smacker commented on #331
/cc @vmarkovtsev

[2019-03-14 14:39] vmarkovtsev commented on #331
This is the current state of all our ML projects:

* We support 3.5+. Generally, we support any Python version equal to or older than in Ubuntu LTS -2 years ago. That is 16.04 and 3.5. Hence we will drop 3.5 in 2020.
* We use `pip` and `requirements.txt` and are totally happy with them, apart from a few minor complaints. The rationale is that the ML folks have never heard about `poerty`, myself in

[2019-03-14 14:44] se7entyse7en commented on #331
@vmarkovtsev thank you for the explanation!

[2019-03-19 15:28] smola commented on #331
This seems sensible. We should add this already, since it's our current minimum.

Using `pipenv` for applications would make sense to me. This has been discussed a few times on Slack, but never got a clear picture.

It can be a good recommendation for everyone though.

[2019-03-20 15:56] se7entyse7en commented on #331
I think that really helps to understand the code faster, and it should be a really very nice to have at least for "public" methods. Just as an example we started using type hinting in lookout-sdk and along with sphinx docstring makes the code easy to follow ([example](https://github.com/src-d/lookout-sdk/blob/master/python/lookout/sdk/grpc/connection.py)).

[2019-03-25 13:12] smola commented on #310
I think we can move on with the Macbook Pro offering update and move the keyboard layout discussion to a different issue? The layout issue affects all laptops as well as external keyboards.

[2019-04-03 12:26] smola opened #348 "Add further guidelines on commit messages"
Add further guidelines on commit messages, specially on formatting. Ideally something we can automate.

Previous discussion here: https://github.com/src-d/guide/pull/339

[2019-04-05 17:05] smola commented on #266
Looking at the data segmented by month, it looks like 2 latest for Chrome, 1 latest for Firefox and 1 latest for Safari would cover pretty much our current audience. And 3 latest for Chrome, 2 latest for Firefox and 2 latest for Safari if we want to be more conservative.

[2019-05-13 06:34] #300 closed

[2019-05-23 09:06] zurk commented on #315
Also:
- [ ] https://github.com/src-d/ml-core
- [ ] https://github.com/src-d/ml-mining
- [ ] https://github.com/src-d/eee-commit-time-series

Going to fix it today.

[2019-05-24 05:45] dpordomingo commented on #322
Who should be in charge of reviewing the whole section now that @campoy is no longer with us? :(
@vcoisne do you have any idea?

[2019-05-28 09:13] bzz commented on #315
@smola shall we do something similar here or in a separate issue for the repositories without `MAINTAINERS` file? As there are some, just from the top of the head:
  - https://github.com/src-d/go-oniguruma
  - https://github.com/src-d/go-license-detector
  - https://github.com/src-d/models
  - https://github.com/src-d/terraform-provider-online
  - https://github.com/src-d/terraform-provisioner-onl

[2019-05-28 17:31] dennwc opened #360 "Add a PR template with a checklist"
I've noticed a nice and short [PR checklist](https://github.com/matrix-org/dendrite/blob/master/.github/PULL_REQUEST_TEMPLATE.md) used in one of the Matrix projects. I think it makes sense to do something similar for our projects, especially to add a checkbox for commit sign-off.

[2019-05-29 12:44] bzz commented on #360
I presume that you suggesting ALL the src-d projets to use the same GH PR template here.

Would not in this case every changeset not only require the sign-off for the commit, but also checking the box manually? :/  Or do you think automated GitHub check that every repository has is not enough for some reason?

In case this is summoned to relive maintainers from the burden of reminding contributors

[2019-05-29 17:30] dennwc commented on #360
The main value this will have is that anyone submitting the PR will immediately see the things he needs to consider in order for the PR to be accepted.

Checking those checkboxes is not necessary, and this is only a template - the user is free to remove it. But at lease new contributors will be aware that we have this check enabled and how to fix it _before_ submitting the PR.

Having a quick repl

[2019-05-30 18:11] campoy commented on #322
You made it sound like I'm dead! 💀🤣

[2019-05-31 10:08] bzz commented on #360
Thank you for clarifications!

or may be it's even possible to pre-configure somehow per-organization? 🤔

I really like the idea of having a "useful templates" collection/examples in the guide for
 - quick replies
 - repository issue templates
 - repository PR templates

that are left to be used on the maintainer discretion (as opposed to something mandatory for everything).

This way, I belive we

[2019-05-31 11:21] smola commented on #315
@bzz A separate issue is better. The initial purpose here was reducing special cases to be handled by tooling. No `MAINTAINERS` means there is no maintainer assigned, which is also a problem, but a separate one.

[2019-05-31 14:45] creachadair commented on #360
I agree. Particularly for things like issues, I have found templates can be quite helpful.

I'm not yet sold on the "manual checkbox" idea for pull requests, though. My sense is that strict requirements we should put into GitHub checks so that they're enforced automatically, and optional guidance should go into a "Instructions for Contributing" for the (each) project.

I suppose we _could_ think o

[2019-06-03 12:02] zurk commented on #315
@vmarkovtsev can you take a look for all these open PRs above? Under `This was referenced 11 days ago` title

[2019-06-03 14:55] dennwc commented on #360
The ideal way to solve this will be to have a bot that posts a "hey, this is your first contribution" message with a contribution guide.

I agree that the template may be annoying when contributing multiple PRs.

[2019-06-03 16:42] dennwc commented on #360
OK, then I think we should just close this one. Or rename it to "make sure each repository contains `CONTRIBUTING.md`".

[2019-06-04 19:57] vcoisne commented on #322
@dpordomingo we should review the content of the whole folder. I'll add to my to-do list, not a priority though.

[2019-06-11 09:13] zurk commented on #315
@smola I think we can close this one.

[2019-06-17 12:31] smola commented on #315
- Fixed on src-d/ci https://github.com/src-d/ci/pull/100
- Thanks @zurk!

[2019-06-17 12:31] smola commented on #315
- Fixed on src-d/ci https://github.com/src-d/ci/pull/100
- Thanks @zurk!

[2019-07-09 15:59] dennwc commented on #327
So it looks like the consensus here is in favor of the change, so I'll write a specific proposal for it (PR).

[2019-07-15 23:58] dmitryvinn opened #368 "Update links in Developer Community section"
In the [Developer Community](https://github.com/src-d/guide/tree/master/developer-community) section of the guide, there are a few items which might need some adjustment:

1) [Event List](https://github.com/src-d/guide/blob/master/developer-community/events-list.md) seems to be deprecated, so we can probably remove it from the list
2) [Company Blog](https://medium.com/source-d) does not exist on M

[2019-07-16 05:58] dmitryvinn opened #369 "Links to Private Repos in Public Repos"
Throughout the public repository, I found quite a few links to the private repos which obviously greeted me with a 404 page from Github. Personally, I do not think it is the best experience for those who are outside of the organization.

I was thinking about potential options:

1. Do nothing (i.e. leave things as is)
2. Remove linking to the private repos (i.e. instead of [src-d/issues-general](ht

[2019-07-16 11:36] dpordomingo commented on #369
Mor examples of public content linking private content:
- we link backlog milestones in repo PRs and issues (e.g. https://github.com/src-d/sourced-ui/pull/106)
- we link minutes in repo issues (e.g. https://github.com/src-d/sourced-ce/issues/2#issuecomment-496179009)
- we link google docs in repo issues (e.g. https://github.com/src-d/sourced-ce/issues/131#issue-464186015)
- we link slack conversat

[2019-07-16 17:49] dmitryvinn commented on #369
Thank you for adding more examples!

Yeah, I agree that it streamlines work for internal contributors; hence, I mentioned option #1 as a valid choice, but wanted to know what others think about it.

Let's see if there are any other opinions on this one - if nothing changes, we will just stick to option 1 for now and try to avoid adding more links to the private repos in the future.

Does it sound

[2019-07-17 08:29] smola commented on #369
Some comments about specific cases:
* src-d/issues-general and src-d/issues-infrastructure are not even used anymore, so we should replace them with current links.
* for links to backlog, I always prefer to add references to issues from the backlog epics, this creates a backreference in the public issue that is only visible to people with permissions.e
* other cases in issues are trickier, and jus

[2019-07-17 11:27] smola commented on #360
@src-d/data-processing team already uses a template with a checklist, together with a GitHub checks that requires all checkboxes checked (or if not applicable, just remove the checkbox itself). See an example here: https://github.com/src-d/gitbase/pull/931

Every team is welcome to try what works best for their projects in this regard.

[2019-07-17 11:28] smola commented on #360
Please use a different issue for that.

[2019-07-17 11:28] smola commented on #275
See https://raw.githack.com/

[2019-07-17 14:00] meyskens opened #371 "Guide outdated about Alpine images"
The guide reads in https://github.com/src-d/guide/blob/master/engineering/conventions/go.md#docker that src-d/ci sets` CGO_ENABLED` to `0`, however this is not the case for src-d/v1 anymore.

[2019-07-17 17:23] dmitryvinn commented on #369
I think it is a great idea - let's append [private link] to the private links!
Unless there are any objections or other ideas, I will be closing the issue.

[2019-07-26 08:35] smola commented on #371
@meyskens Thanks, can you PR?

[2019-07-26 08:39] smola commented on #322
For the purpose of this issue, we may start adding a bold header to the tech talks guide, making it clear that it's inactive / historical.
cc @dmitryvinn

[2019-08-08 10:46] rporres opened #374 "Org chart is out of date"
@glimow has left, @kuba-- is now in LA team, @agarciamontoro is in DP team

[2019-08-08 10:56] kuba-- commented on #374
I'd add that Marvin's first and last name are in wrong order..

[2019-08-22 16:53] bluer73 opened #376 "Update holiday policy"
@estherrgarcia We need to update the holiday policy in line with what was agreed a couple of months ago, I can do it if you want

[2019-08-27 13:27] gomesfernanda commented on #374
Org chart updated and waiting approval to merge: https://github.com/src-d/guide/pull/377

[2019-08-30 11:10] gomesfernanda commented on #374
https://github.com/src-d/guide/pull/377 merged

[2019-08-30 11:10] #374 closed

[2019-08-30 13:11] #327 closed

[2019-09-02 13:55] lwsanty opened #381 "Onboarding task presets/templates"
### Pre-history
1) a couple of months ago @bluer73 started a practice of one month post-onboarding feedback call
2) often developers have onboarding tasks that help them to be involved into process more smoothly
3) current repo with guides(from code conventions to company culture) that we refer freshmen to
4) additional info can be obtained via direct texting with the team(s)

#### Problems
- on t

[2019-09-10 14:53] bluer73 commented on #381
@lwsanty really good idea- I can work with each team lead on this and then make sure they are as generalised as possible overall

[2019-09-16 09:38] dpordomingo opened #383 "Start using builtin go error wraping instead of go-errors"
`go 1.13` has been released, and [our guide says](https://github.com/src-d/guide/blob/master/engineering/conventions/go.md#supported-go-versions) that

`go 1.13` offers [error wrapping](https://golang.org/doc/go1.13#error_wrapping) (`errors.Is`, `errors.Wrap`...)

For [error handling, our guide request](https://github.com/src-d/guide/blob/master/engineering/conventions/go.md#error-handling) to use

[2019-09-16 09:51] kuba-- commented on #383
My understanding is - because we want to be backward compatible with the latest two versions of go, we have to wait till 1.14

[2019-09-16 10:09] kuba-- commented on #383
...but to prepare for that I would archive `go-errors` project.

[2019-09-16 10:10] dpordomingo commented on #383
Edited the initial message to clarify that it's about our applications, that must support only last stable (1.13)

And I assume that the consensus could (should) be applied to libraries once 1.14 has been released.

[2019-09-16 10:24] kuba-- commented on #383
Yes, I heard about that, but frankly still don't get it. What's the difference between library and application. In theory almost every package should _behave_ like library. Application is just a `main` wrapper on top of API.

The pilosa would be a good example. We started using it as an external service, but in next iteration we extracted API and got rid of the server part and continue use it as a

[2019-09-16 12:21] dennwc commented on #383
@kuba-- I think the main difference is that we don't promise any internal API compatibility for libraries that are part of our app projects. So you _could_ use it as a library, but it may break over time if you don't lock the version.

The cause of this difference was mentioned by @creachadair on multiple occasions: SemVer is good, but it's not enough. For example, v1.0 means two different things

[2019-09-16 12:25] dennwc commented on #383
To the topic of the issue, I agree that we should start using the new functionality provided by stdlib `errors` package in apps at least.

Also, before archiving `src-d/go-errors` we should merge https://github.com/src-d/go-errors/pull/15 and update all apps/libraries to use the new version. This will at least make `src-d/go-errors` compatible with a new stdlib interface.

I think adding it to app

[2019-09-16 12:51] kuba-- commented on #383
In my opinion we should paraphrase it - "for `main` and `non exportable packages`".
Because IMO there is no obvious difference between _app_ and _lib_.

For instance if you have a `main/internal/a/b/c` then you can use the latest go, but if you have `a/b/c/internal/d/e/f` and even if you use the latest go under internal, I can still import `a/b/c` which uses internal  stuff and it will break my co

[2019-09-16 13:51] dennwc commented on #383
@kuba-- I totally agree, it's a good definition and it may solve the concern I raised when mentioning the project split to `main` and `lib` repos.

But there are still problems with this approach, if managed in a single repo. You'll need to version the internal library, but it's nearly impossible to do correctly, because the versions in the repo correspond to _app versions_, while library users wi

[2019-09-16 14:12] kuba-- commented on #383
I think versioning is something orthogonal to this. Here we are talking about the new release (or master development).
But if we talk generally about dependencies then you can always stick to some old version in your _deps_ file and use go1.4

[2019-09-16 16:24] jfontan commented on #383
I would wait to take this decision until we are used to the new syntax. I'm not really happy with wrapping an error that you want to catch. Example:

[code]

If I want to catch "object not found" error this system is not useful. I have to either wrap two errors or create a new struct error with `Unwrap`:

[code]

I find the `Wrap` function from `go-errors` more convenient. We only need to make it

[2019-09-16 17:02] dennwc commented on #383
@jfontan Can you please give an example where this would be useful? Do you mean that `ErrObjectNotFound` would be a `Kind` in `src-d/errors`?

We have a similar case in Babelfish, specifically when processing a source file. We may generate multiple errors for it, but instead of wrapping them that way we have a single `type ErrSyntax []error` which will _not_ implement `Unwrap` in our case (no sing

[2019-09-16 19:38] jfontan commented on #383
I agree that a custom type for errors is the way to go. What I don't like is that there's not syntactic sugar for something as common as wrapping a normal error whenever is needed and forcing you to create custom types with `Unwrap` defined.

[code]

I believe that all this boilerplate could be done by a library, be it `go-error` or something new.

[2019-09-16 19:50] creachadair commented on #383
I just want to clarify one thing about the new `errors` methods (or `xerrors`, in Go 1.12): If you construct an error like `fmt.Errorf("something went wrong: %w", err)`, the resulting error _already_ supports unwrapping to recover `err`. That's what the `%w` format escape signals in this case, as opposed to the more usual `%v`.

(If you need compatibility with Go < 1.13, use `xerrors.Errorf` inste

[2019-09-18 09:40] jfontan commented on #383
The problem is that `fmt.Errorf` and it's wrapping mechanism can only be used for annotating errors. The error created is anonymous and cannot be checked by upper layers, that is, the caller cannot check if it's a `something went wrong` error.

[2019-10-01 12:17] dennwc commented on #383
OK, I think the consensus so far is that we can try using it for projects that support 1.13 exclusively (apps).

[2019-10-16 10:26] ajnavarro opened #384 "Linter integration on PRs"
To avoid comments on PRs related to formatting issues or imports order, we should use linters integrated on PRs. As a proposal we can use:
- Go: https://www.codefactor.io and https://golangci.com/
- Python: https://www.codefactor.io and most used linter on ML team (maybe @vmarkovtsev can give some insights here)
- Scala: https://www.codefactor.io + scalacheck on CI over SBT.

[2019-10-16 10:30] vmarkovtsev commented on #384
We are using flake8 with some deep customization for Python.

[2019-10-16 13:43] smola commented on #384
There was some past discussion about enabling `golint` globally too: https://github.com/src-d/ci/issues/101

[2019-10-16 13:49] smola commented on #384
@ajnavarro What does `codefactor` check? I have tried it in a couple of Go projects and it did not report issues.

golangci seems to run a collection of the usual Go linters, I'm afraid it might be too verbose? https://github.com/golangci/golangci-lint

[2019-10-16 13:53] ajnavarro commented on #384
@smola here is an example on gitbase: https://www.codefactor.io/repository/github/src-d/gitbase/issues/master

[2019-10-16 14:28] smacker commented on #384
oh, sorry. I thought the question was only about code format. I (and most probably everybody else on the team) run go-lint which is enabled by default in VS Code.

[2019-10-18 12:22] lwsanty commented on #384
@creachadair @smola
I did a PR to CI with ability to so we can have an ability to run linter using make command, it supports both config file and non-config mode with a couple of options to lower the noise. Hope it could be useful for someone.
https://github.com/src-d/ci/pull/114

[2019-11-29 09:18] #93 closed

[2021-06-17 18:54] misterpilou opened #385 "Slack link is no longer valid"
Hi, i'm Pierre-Louis Chevallier from France, it's been quiet some time i'm looking for ml on code and watch your projects.
I want to join your slack to see more, and take contact. I'm just starting experimenting on bigcode and wanting to look around and see what you are doing in more details. I also want to tell i'm ready to contribute if i am of any needs.

[2021-06-17 18:59] m09 commented on #385
Hi, the slack is no longer active because sourced closed about a year and a half ago.

[2021-06-17 19:51] misterpilou commented on #385
Thanks for letting me know, are there some projects that are still active ? I think the whole project, sourced was awesome and innovative and I'm looking forward to try things myself. Nothing has keep up alive at the end ?

[2021-06-17 20:44] m09 commented on #385
[go-git](https://github.com/go-git/go-git/) is the only active project *that I know of*. Not much was kept alive no. Part of sourced team has a new gig at https://github.com/athenianco/ if you want to check it out.

[2021-06-17 22:43] kuba-- commented on #385
https://github.com/go-enry

[2021-06-18 06:08] smola commented on #385
https://github.com/dolthub/go-mysql-server/ is also active under a new maintainer.

[2021-06-18 07:24] misterpilou commented on #385
Thank you for the replies guys ! I wanted to know, did you had any promising results with ml on code ? I already checked up on https://github.com/go-enry as I intended to do some nlp on documentation websites and aim to do the same work that enry does, i'll definitely give it a try.

[2021-06-18 09:09] kuba-- commented on #385
Of course all of you are also welcome to join/explore `https://github.com/mloncode` which is  _crazy mental gymnastics source code hacking anarchy commune_  just to share knowledge and experiments.
:-)